<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {{!-- custom styles --}}
    <link rel="stylesheet" href="assets/css/style.css">
    {{!-- jquery --}}
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>Dad App</title>
</head>

<body>
    {{{ body }}}
    {{!-- custom scripts --}}
    <script src="assets/js/index.js"></script>
</body>

</html>