<!-- header -->
<div class="headerr">

    <div class="center"><img class='logo' src='../images/icons/whiteIcons/logoWT.png'></div>

    <a class='btn logOut' href='/logout'><img class='profIconSize' src='../images/icons/whiteIcons/whiteLogout.png'></a>

</div>
{{!-- Page title --}}
<h3 class="page-title">Dad Community</h3>
{{!-- div to hold all the information --}}
<div class=" container center card-section">
    {{#each momentTable}}
    <div class="card" style="width: 18rem">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">User: {{this.userName}}</h6>
            <p class="card-text">{{this.moments}}</p>
            <div class="heart-div">
                <img src="../images/icons/blackIcons/like.png" class="like" style="display: inline;" id='heart'>
            </div>
        </div>
    </div>
    {{else}}
    <P>No more posts from Dad users</P>
    {{/each}}
</div>

<!--buttons for switching pages-->
<div class="footers">


    <!-- footer -->
    <div class="footers">
        <a class="col-md-4" style="background-color: #0f133b;" href="/jokes"><img class='profIconSize'
                src='images/icons/whiteIcons/jokes.png'></a>
        <a class="col-md-4" style="background-color: #0f133b;" href="/community"><img class='profIconSize'
                src='images/icons/whiteIcons/momentsInUse.png'></a>
        <a class='col-md-4' style="background-color: #0f133b;" href="/profile"><img class='profIconSize'
                src='images/icons/whiteIcons/profile.png'></a>
    </div>
</div>


<script> // all of the Jquery and JS for the html in here

    var like = $(".like");
    $(document).ready(function () {

        $(like).click(function () {
            // Change src attribute of image
            $(this).attr("src", "../images/icons/blackIcons/liked.png");
        });
    });

</script>