<!-- header -->
<div class="headerr">
    <div class="col-md-4"></div>
    <div class="col-md-4"><img class='logo' src='../images/icons/blackIcons/logoBK.png'></div>
    <div class="col-md-2"></div>
    <a class='col-md-2 btn logOut' href='/logout'><img class='profIconSize '
            src='../images/icons/blackIcons/Asset 9.png'></a>
</div>
<!-- container for all the posts -->
<div class=" container center card-section">

    <!-- cards for injecting from table -->
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">User:</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            <img src="../images/icons/blackIcons/like.png" id="like" class='heart'>

        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">User:</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            <img src="../images/icons/blackIcons/like.png" id="like" onclick="changeImage()">
            <img src="../images/icons/blackIcons/liked.png" id="liked" style="display: none;" onclick="changeImage()">

        </div>
    </div>


    <!-- footer -->
    <div class="footers">
        <a class="col-md-4" style="background-color: #0f133b;" href="/jokes"><img class='profIconSize'
                src='../images/icons/whiteIcons/jokes.png'></a>
        <a class="col-md-4" style="background-color: #0f133b;" href="/community"><img class='profIconSize'
                src='../images/icons/whiteIcons/moments.png'></a>
        <a class='col-md-4' style="background-color: #0f133b;" href="/profile"><img class='profIconSize'
                src='../images/icons/whiteIcons/profile.png'></a>
    </div>
</div>


<script> // all of the Jquery and JS for the html in here

    function changeImage() {

        if (document.getElementById("imgClickAndChange").src == "/public/images/icons/blackIcons/like.png") {
            document.getElementById("imgClickAndChange").src = "/public/images/icons/blackIcons/liked.png"
        }
    }
    //  click events

    // API calls
    console.log("HELLOOOO");

    document.querySelector('.heart').addEventListener('click', function () {
        if (this.getAttribute('src') == "../images/icons/blackIcons/like.png") {
            this.setAttribute("src", "../images/icons/blackIcons/liked.png");
        }

    })

</script>