<div class="container center">
    <div class=" main-container">
        <!-- log in link -->
        <div class="log-in-container">
            <button class="sign-in-text log-in"
                onclick="document.getElementById('id01').style.display='block'">Login</button>
        </div>
        <!-- logo container -->
        <div class="logo-div">
            <img id="signup-logo" src="../images/icons/blackIcons/logoBK.png" alt="dad life">
        </div>
        <!-- headdings and form -->
        <div class="heading-container">
            <p class="heading">Welcome to Dad-Life</p>
            <p class="heading">Sign up or login</p>
        </div>
        <form id="sign-up-form" class="form">
            <label for='name'>Name</label>
            <input type='text' id='name' name='name'>
            <label for='user-name'><span class="required">* </span>Username</label>
            <input type='text' id='username' name='username'>
            <label for='password'><span class="required">* </span>Password</label>
            <input type='password' id='password' name='password'><br>
            <input id="sign-up-btn" class='btn btn-primary' type='submit'></input>
        </form>
        <!-- Creating the Modal for the sign in-->
        <div id="id01" class="modal">
            <!-- Modal Content -->
            <div class="modal-content animate" action="/profile">
                <div class="imgcontainer">
                    <img class="login-logo" src="../images/icons/blackIcons/logoBK.png" alt="Avatar" class="avatar">
                </div>

                <form id="sign-in-form" class="form">
                    <label class="lbl" for='user-name'><span class="required">* </span>Username</label>
                    <input class="lbl" id='login-username' type='text' name='username'>
                    <label class="lbl" for='password'><span class="required">* </span>Password</label>
                    <input class="lbl" id='login-password' type='password' name='password'>
                    <input id="sign-in" class='modal-btn btn btn-primary' type="submit"></input>
                </form>

                <div class="form-container">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                        class="cancelbtn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>