<!-- header -->
<div class="headerr">

    <div class="center"><img class='logo' src='../images/icons/whiteIcons/logoWT.png'></div>

    <a class='btn logOut' href='/logout'><img class='profIconSize' src='../images/icons/whiteIcons/whiteLogout.png'></a>

</div>


<h3 class="page-title">Dad Jokes All day Every Day</h3>
<!-- Main joke container -->
<div class="maincontainer">
    {{!-- this is were the jokes get appended to --}}
    {{!-- If we could figure out how to add these jokes to the DB for a certain user --}}
</div>


<!--buttons for switching pages-->
<div class="footers">
    <a class="col-md-4" style="background-color: #0f133b;" href="/jokes"><img class='profIconSize'
            src='images/icons/whiteIcons/jokesInUse.png'></a>
    <a class="col-md-4" style="background-color: #0f133b;" href="/community"><img class='profIconSize'
            src='images/icons/whiteIcons/moments.png'></a>
    <a class='col-md-4' style="background-color: #0f133b;" href="/profile"><img class='profIconSize'
            src='images/icons/whiteIcons/profile.png'></a>
</div>



<script> // all of the Jquery and JS for the html in here

    var username = "";
    $.get("/api/user_data").then(function (response) {
        username = response.username;
    });


    function clicked(index) {
        console.log(index);

        var joke = $(".joke").eq(index).text();
        var jokeData = {
            username: username,
            jokes: joke
        };
        console.log(jokeData);
        $.ajax("/api/jokes", {
            type: "POST",
            data: jokeData
        }).then(function (res) {
            console.log("completed post to jokes")
        }).catch(function (err) {
            console.log(err);
        })

    }


    $(document).ready(function () {

        function jokeSearch() {
            var queryURL = "https://icanhazdadjoke.com/slack";
            var jokesArr = [];
            var myIndex = 0;
            for (var i = 0; i < 10; i++) {
                $.ajax({
                    url: queryURL,
                    method: "GET"
                }).then(function (response) {
                    console.log("before build html");
                    console.log(response.attachments[0].text);

                    $(".maincontainer").append(
                        `<div data-index="${myIndex}"class="joke-container card-body">
                            <div class="img-container">
                                <button type="button" onclick="clicked(${myIndex})" id="add">➕</button>
                            </div>
                            <div class=" card joke-div">
                                <p class="joke">` + response.attachments[0].text + `</p>
                            </div>      
                        </div> `);
                    myIndex++;
                });
            };
        };
        jokeSearch();

    })


</script>