<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find Jokes</title>
</head>

<body>
<<<<<<< HEAD:views/findJokes.handlebars
    <header>
        {{!-- log out button in header --}}
    </header>
    <h1>Read it, Save it, Share it</h1>
    <div class="row">
        <div class="col-sm-12">
            <br> 
            <div class="card">
                <div class="card-body" id="results-section">
                </div>
            </div>
        </div>
    </div>
=======
    <script src="/assets/js/index.js"></script>
>>>>>>> f32daede85d8ed6841794fc467d0ca479910e4e7:views/jokes.handlebars
</body>

</html>