{{!-- header --}}
<div class="headerr">

    <div class="center"><img class='logo' src='../images/icons/whiteIcons/logoWT.png'></div>

    <a class='btn logOut' href='/logout'><img class='profIconSize' src='../images/icons/whiteIcons/whiteLogout.png'></a>

</div>

{{!-- main profile container --}}
<div class="container center" style="padding: 100px 15px;">
    {{!-- putting placeholder text for the Username --}}
    <h3 id="dad-username" class="center" style="padding-bottom: 15px;">Dadbod21</h3>

    <div class="dadPoints">
        {{!-- this is just placeholder till the DB is working --}}
        <p>Points:<span class='dad-point-spot'> 100 DP</span></p>
    </div>
    <div>
        <img class='profimg' src="images/dadPic.jpg">
    </div>
    <a href="#" class='changeProfPic'>Change Image</a>
    <!--name portion-->
    <br><br>

    <!--dad points with span element on unique number-->
    <h4 class="post-a-moment">Post a joke, Share a dad moment</h4>
    <form class="moment-form">
        <textarea type='text' id='dadmmnt' name='moments'></textarea><br><br>
        <input type="submit" class='btn btn-primary profile-submit'></input><br><br>
    </form>
    {{!-- section for showing favorited jokes and the users posts --}}
    {{!-- Rockie if you could help figure out how to display the saved jokes and posts --}}
    {{!-- Might need to make a new table for saved posts --}}
    <section class="jokes-posts-sec">
        <div class="profile-saved-btns-div">
            <button class='saved-BTN'>Liked Jokes</button>
            <button class='saved-BTN'>Your Posts</button>
        </div>
        <div class="input section">
            {{!-- saved jokes inside here --}}
        </div>
    </section>
</div>

<!--buttons for switching pages-->
<div class="footers">
    <a class="col-md-4" style="background-color: #0f133b;" href="/jokes"><img class='profIconSize'
            src='images/icons/whiteIcons/jokes.png'></a>
    <a class="col-md-4" style="background-color: #0f133b;" href="/community"><img class='profIconSize'
            src='images/icons/whiteIcons/moments.png'></a>
    <a class='col-md-4' style="background-color: #0f133b;" href="/profile"><img class='profIconSize'
            src='images/icons/whiteIcons/profileInUse.png'></a>
</div>

{{!-- Custom scripts --}}
<script>
    const momentForm = $(".moment-form");
    // input box
    const dadmmnt = $("#dadmmnt");
    const dadUsername = $("#dad-username");


    $(document).ready(function () {
        momentForm.submit(function (event) {
            event.preventDefault();
            var post = {
                moment: dadmmnt.val().trim(),
                username: dadUsername.html().trim()
            };
            console.log(post);
            $.ajax("/api/moments", {
                type: "POST",
                data: post
            }).then(function (res) {

                dadmmnt.val("");

            }).catch(function (err) {
                console.log(err);
            })
        });
    });



</script>