<!-- header -->
<div class="headerr">
    <div class="col-md-4"></div>
    <div class="col-md-4"><img class='logo' src='../images/icons/blackIcons/logoBK.png'></div>
    <div class="col-md-2"></div>
    <a class='col-md-2 btn logOut' href='/logout'><img class='profIconSize '
            src='../images/icons/blackIcons/Asset 9.png'></a>

</div>
<!-- profile container -->
<div class="container center">
    <div class="jumbotron center">
        <div>
            <img class='profimg'
                src="https://m.media-amazon.com/images/M/MV5BNDRkOWIyOTUtMjg5YS00OTJjLTgwNGYtMjgxMTA0NWQ2NGI3L2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SY1000_CR0,0,666,1000_AL_.jpg">
        </div>
        <!--name portion-->
        <h4 class="center">{name}</h4>
        <!--dad points with span element on unique number-->
        <div class='dadPoints'>Dad Points:<span class='dadPointsNum'> 0</span></div>
        <form class="form">
            <label for='dadmmnt'>Share a dad moment:</label>
            <input type='text' id='dadmmnt' name='dadmmnt'>
            <button>Share</button>
        </form>
    </div>
</div>
<!--buttons for switching pages-->
<div class="footers">

    <a class="col-md-4" style="background-color: #0f133b;" href="/jokes"><img class='profIconSize'
            src='../images/icons/whiteIcons/jokes.png'></a>
    <a class="col-md-4" style="background-color: #0f133b;" href="/community"><img class='profIconSize'
            src='../images/icons/whiteIcons/moments.png'></a>
    <a class='col-md-4' style="background-color: #0f133b;" href="/profile"><img class='profIconSize'
            src='../images/icons/whiteIcons/profile.png'></a>
</div>
<script>
    // need to do a post to the database for adding the moment

</script>