.right {
    float: right !important;
}

.header {
    top: 0;
    right: 0;
}

.login {
    color: black;
    border: 1px, 1px, 1px, 1px;
    border-style: double;
}

.jumbotron {
    align-self: center !important;
    border-top: solid white 25px;
    width: 500px !important;
    text-align: center !important;
}

.txtbox {
    align-content: center;
    margin: center;
}
.container {
    border-top: solid white 25px;
}
.center {
    margin: auto;

}
form {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-content: center;
    text-align: center;
}

.form {
    margin: auto;
}