

.header {
    top: 0;
    right: 0;
}

.login {
    color: black;
    border: 1px, 1px, 1px, 1px;
    border-style: double;
}

.jumbotron {
    
    text-align: center !important;
    padding: 10px !important;
}

.txtbox {
    align-content: center;
    margin: center;
}
.container {
    border-top: solid white 25px;
}
.center {
    margin: auto;

}
form {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}

.form {
    margin: auto;
}
.log-in{
    position: relative;
    top: 0px;
    right:0px;

}