/* colors */
/* 
#0f133b = dk blue
#13c0e0 = lt blue
#c42654 = lt pink
*/
/* fonts */
/* 
font-family: Helvetica, Arial, sans-serif;
*/
/* ==================== index "login and sign up page" ==================== */

body{
    text-align: center;
}
.main-container { 
    text-align: center !important;
    padding: 10px 0 50px 0 !important;
    
}
.jumbotron {
    background-color: white !important;
}

.logOut{
    position: relative;
    top: 0;
    right: 0;
    float: right;
    z-index: 3;
}
.container {
    border-top: solid white 25px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    margin: auto;
}
.required{
    color: #c42654;
}
.btn-primary{
    background:#13c0e0 !important;
    border: none !important;
    border-radius: 50px 50px 50px 50px !important;
}
/* log-in link */
.log-in-container{
    text-align: right;
    padding-right: 20px;
    margin-bottom: 30px;
}
.sign-in-text{
    border: none;
    background-color: none;
    padding: 0;
    margin: 0;
}
.log-in{
    color: black;
    text-decoration: none;
    margin: 0;
    position: relative;
    top: 0px;
    right:0px;
}

.center {
    margin: auto;
    text-align: center;
}

.form {
    margin: auto;
}

.whtspc {
    background-color: white;

}

.headerr {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    background-color:#0f133b;
    /* opacity: 50%; */
    color: white;
    text-align: center;
    z-index: 20;
}

.footers {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    background-color: #0f133b;
    color: white;
    text-align: center;
    z-index: 100;
}
.log-in:hover{
    text-decoration: none;
    color: #13c0e0;
}
/* logo */
.logo-div{
    width: 18%;
    margin: 0 auto;
}
#signup-logo{
    height: auto;
    width: 100%;
}
/* headings and form */
.heading-container{
    padding: 30px 0;
}
.heading{
    font-size: 23px;
    margin: 0;
}
/* ==================== the modal styles ======================= */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  .imgcontainer{
    width: 18%;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .login-logo{
    height: auto;
    width: 100%;
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    width: 98%; /* Could be more or less, depending on screen size */
    padding: 30px 0 30px 0;
  }
  .modal-btn{
      margin: 20px 0;
  }
  .lbl{
      margin:0;
      padding: 10px 0;
  }
  .cancelbtn{
      background-color: lightgrey;
      border-radius: 10px;
      border: none;
      padding: 5px 20px;
  }
  .cancelbtn:hover{
      background-color: #c42654;
      color: white;
  }
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
/* ============================== end of login and signup page ========================== */
/* ============================== Start of community page ================================= */
  .card {
    margin: 0 auto 20px auto;
    text-align: left;
  }
  .page-title{ 
      width: 90%;
      margin: 120px auto 0 auto;
  }
  .card-section {
      margin-top: 25px;
      margin-bottom: 180px;
  }

  .heart-div{
    width: 100%;
    height: 25px;
    text-align: right;
    /* display: flex; */
  }
  #heart{
      height: 100%;
      width: auto;
  }
  /* ============================= END OF COMMUNITY PAGE ====================== */
  /* ============================= JOKE PAGE ====================== */
  .joke-container {
    display: flex;
    width: 90%;
    margin: auto;

}
.img-container{
    padding-right: 15px;
    display: flex;
}
.maincontainer{
    width: 100%;
    padding: 10px;
    margin-bottom: 100px;
}
.joke-div{
    padding: 10px;
    margin-bottom: 0 !important;
}
.joke{
    margin: auto;
}
.add {
    width: 25px;
    height: 25px;
    margin: auto;

}

  /* ============================= END OF JOKE PAGE ====================== */
  /* ============================= PROFILE PAGE ====================== */
  .profile-submit{
    width: 60%;
    border-radius: 10px !important;
  }
  #dadmmnt{
    width: 60%;
  }
  img {
    /* border-radius: 50%; */
    height: 170px;
    width: 170px;
    }

  .profimg {
    border-radius: 50%;
  }


  .profIconSize {
    height: 40px;
    width: 40px;
  }

  .logo {
    height: 40px;
    width: 40px;
    margin-left: 76.2px;
  }
  .changeProfPic{
      text-decoration: none;
      color: #13c0e0;
  }
  .post-a-moment{
      padding: 0 0 20px 0;
  }
  .profile-saved-btns-div{
      display: flex;
      justify-content: space-around;
  }
  .saved-BTN{
      background-color: #13c0e0;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 5px 15px;
  }